main{
    background-color: #192d3b;
    padding: 50px;
}

.my_navbar{
    height: 80px;
    width: 100%;
    background-color: #2b3a46;
}
.my_card{
    background-color: #2b3a46;
}
h5, p{
    color: white;
}